:root {
    --primary: #212121;
    --secondary: #757575;
    --accent: #2196f3;
    --white: #ffffff;
    --button-bg: #F5F4FA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul,
ol {
    list-style: none;
}


/* header */

.logo-up {
    font-family: "Raleway", sans-serif;
    color: var(--primary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
}

.logo-shade {
    color: var(--accent);
}

.link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.site-nav .link {
    color: var(--primary);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent);
}

.auth-nav .link {
    color: var(--secondary);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent);
}


/* ШАПКА */

.section {
    background-color: #2F303A;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white)
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--accent);
}

/* ОСОБЕННОСТИ */

.title-bg {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary);
}

.text-bg {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary);
}

/*  ЧЕМ МЫ ЗАНИМАЕМСЯ */



.team-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--primary);
}

.work-team {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--primary);
}

.pro-team {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--secondary);
}




.button-list {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--button-bg);
}

.button-list:hover,
.button-list:focus {
    color: var(--white);
    background-color: var(--accent);
}

.portfolio-link {
    text-decoration: none;
}

.portfolio-list .title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary);
    text-decoration: none;

}

.portfolio-list .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary);
    text-decoration: none;

}


/* --FOOTER-- */


footer {
    background-color: #2F303A;
}

.logo-down {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--white);
    text-decoration: none;
}


.address {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white);
    text-decoration: none;
}

.mail {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary);
    text-decoration: none;
}

/*.mail:hover,
.mail:focus {
    color: var(--accent-color);
}*/

.contackt {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary);
    text-decoration: none;
}

/*.contackt:hover,
.contackt:focus {
    color: var(--accent-color);
}*/